hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.header {
    background: #113155; /* Old browsers */
    background: -moz-linear-gradient(top, #113155 80%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #113155 80%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #113155 80%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    height: 100vh;
    position: fixed;
}

#header-div {
    width: 550px;
}

#header-img {
    border-radius: 90px;
    height: 200px;
    width: 150px;
    margin-top: 100px;
    border: 1px white solid;
    margin-left: 90%;
}

.header-text {
    color: white;
    margin-top: 75px;
    margin-left: 20px;
    width: 300px;
}

li {
    color: white;
}

.container {
    margin-top: 100px;
}

#main {
    float: right;
    font-weight: bolder;
}

#one-para {
    margin-top: 25px;
    color: #6d6b6b;
}

.projects {
    margin-top: 50px;
}

.project-header {    
    font-weight: bold;
    text-align: center;
}

#one, #two {
    margin-top: 50px;
}

.project-img {
    height: 125px;
    width: 325px;
}

.project-desc {
    color: #6d6b6b;
    font-weight: lighter;
}

footer {
    position: fixed;
    bottom: 100;
    margin-top: -100px;
    /* margin-left: 85%; */
    width: 100%;
    height: 60px;
}

.footer-nav {
    margin: 10px;
}

#nav-link {
    color: white;
}

#nav-link:visited {
    color: white;
}

#nav-link:hover {
    color: blue;
}

@media only screen and (max-width: 1400px) {
    #header-div {
        width: 100%;
    }
    
    .header {
        height: 30vh;
        width: 100%;
    }

    #header-img {
        margin-left: 25px;
        margin-top: 30px;
    }

    .header-text {
        margin-top: -70px;
        margin-left: 200px;
    }

    .header-list {        
        margin-left: 550px;
        margin-top: -200px;
    }

    #nav-link {
        color: blue;
    }
    
    #nav-link:visited {
        color: blue;
    }
    
    #nav-link:hover {
        color: rgb(8, 8, 22);
    }

    .container {
        height: 60vh;
        overflow: auto;
        margin-left: 0;
        margin-top: 40vh;
        width: 1250px;
    }
}
